* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: beige;
    border: 5px solid #6C584C;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 3px solid #6C584C;
    background-color: #DDE5B6;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #DDE5B6;
        outline: none;
    }

/* Overwrite default styles of hr */
hr {
    border: 1px solid #6C584C;
    margin-bottom: 25px;
}

label {
    color: #6C584C;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #DDE5B6;
    color: #6C584C;
    padding: 16px 20px;
    margin: 8px 0;
    border: 3px solid #6C584C;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}

    .registerbtn:hover {
        opacity: 0.8;
    }

/* Add a blue text color to links */
a {
    color: #CDB4DB;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: beige;
    text-align: center;
    font-weight:bold;
    color: #6C584C;
}
